{{- $src := .Get "src" | default "header-art.jpg" -}}
{{- $alt := .Get "alt" | default .Page.Title -}}
{{- with .Page.Resources.GetMatch $src -}}
  {{- $small := .Resize "800x webp q82" -}}
  {{- $large := .Resize "1200x webp q84" -}}
  <figure class="tutorial-header not-prose">
    <picture>
      <source
        type="image/webp"
        srcset="{{ $small.RelPermalink }} {{ $small.Width }}w, {{ $large.RelPermalink }} {{ $large.Width }}w"
        sizes="(max-width: 800px) 100vw, 1200px"
      >
      <img
        src="{{ $large.RelPermalink }}"
        width="{{ $large.Width }}"
        height="{{ $large.Height }}"
        alt="{{ $alt }}"
        loading="eager"
        fetchpriority="high"
        decoding="async"
      >
    </picture>
  </figure>
{{- else -}}
  {{- errorf "Tutorial header image %q not found for %s" $src .Page.RelPermalink -}}
{{- end -}}