@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --primary-hue: 245deg;
  --primary-saturation: 93%;
  --primary-lightness: 50%;
  --secondary-hue: 339deg;
  --secondary-saturation: 100%;
  --secondary-lightness: 50%;
}

.hextra-nav-container {
    border-top: 5px solid;
    border-image: linear-gradient(
      90deg, 
      hsl(var(--primary-hue), var(--primary-saturation), var(--primary-lightness)), 
      hsl(var(--secondary-hue), var(--secondary-saturation), var(--secondary-lightness))
    ) 1;
}

body {
  font-family: "Inter", sans-serif;
}

main > h1 {
    padding: 2rem 0 2rem 0;
}