name: Build pull request
on:
  pull_request:
    types: [opened, synchronize]

env:
  REPO: uugai/documentation

jobs:
  build-amd64:
    runs-on: ubuntu-24.04
    permissions:
      contents: write
    strategy:
      matrix:
        architecture: [amd64]
    steps:
      - name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Checkout
        uses: actions/checkout@v3
      # Setup Golang for us in the workflow
      - uses: actions/setup-go@v5
        with:
          go-version: "1.24"
          check-latest: true
          cache-dependency-path: |
            api/go.sum
      # Test the Golang application
      - name: Test Golang appl
        run: |
          cd api
          go fmt $(go list ./... | grep -v /vendor/)
          go vet $(go list ./... | grep -v /vendor/)
          go test -race $(go list ./... | grep -v /vendor/)
      # Build the Golang application to the dist folder
      - name: Build Golang application
        run: |
          cd api
          go build -o main
      - name: Run Build
        run: |
          docker build -t ${{matrix.architecture}} -f Dockerfile --pull --no-cache .
          
  build-arm64:
    runs-on: sh-ubuntu-24.04-arm 
    permissions:
      contents: write
    strategy:
      matrix:
        architecture: [arm64]
    steps:
      - name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Checkout
        uses: actions/checkout@v3
      - name: Run Build
        run: |
          docker build -t ${{matrix.architecture}} -f Dockerfile --pull --no-cache .